.idea/
.cache/
.pytest_cache/**
.ropeproject/
.ropeproject/**
skrypty/.ropeproject/**
skrypty/.ropeproject/
testy/.ropeproject/**
__pycache_/
skrypty/__pycache_/**
skrypty/.pytest_cache/*
*.pyc
qgis-auth.db
.DS_Store
